@model StadiumViewModel
@{
    ViewData["Title"] = "StadiumDetails";
}
<div class="text-center">
    <h2>These are the clubs for this stadium: <b>@Model.StadiumName</b></h2>
</div>
<hr />

@if (Model.ClubName.Count() == 0)
{
    <h2 class="alert-info">
        There are no clubs for this stadium.
    </h2>
}
else
{
<table class="table">
    <thead>
    <th>ClubName</th>
    <th>Founded</th>
    </thead>
    <tbody>
            <tr>
                <td>@dfk.ClubName</td>
                <td>@dfk.Founded</td>
            </tr>
        }
    </tbody>
</table>
            }
