@model StadiumViewModel
@{
    ViewData["Title"] = "StadiumDetails";
}
<hr />
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Stadium Name</td<td>@Model.StadiumName</td>
                <td>Location</td><td>@Model.Location</td>
                <td>Date Built</td><td>@Model.BuildDate</td>
                <td>Club playing this stadium</td><td>@Model.ClubName</td>
            </tr>
        </tbody>
    </table>

<hr />
}
