@model ClubViewModel
@{
    ViewData["Title"] = "ClubDetails";
}
<div class="text-center">
    <h2>These are the players that have a contract with club: <b>@Model.ClubName</b></h2>
</div>
<hr />

@if (Model.Players.Count() == 0)
{
    <h2 class="alert-info">
        There are no players with this club.
    </h2>
}
else
{
    <table class="table table-striped">
        <thead>
        <th>Player Name</th>
        <th>Date of Birth</th>
        <th>Nationality</th>
        </thead>
        <tbody>
            @foreach (Player dfk in Model.Players)
                {
                <tr>
                    <td>@dfk.PlayerName</td>
                    <td>@dfk.BirthDate</td>
                    <td>@dfk.Nationality</td>
                </tr>
            }
        </tbody>
    </table>
}
