@model ClubViewModel
@{
    ViewData["Title"] = "DeleteClub";
}

<div class="text-center">
    <h2 class="text-danger">You are about to delete the club: @Model.ClubName</h2>
    <h3>Are you sure?</h3>
</div>

@Html.ActionLink("Cancel","All","School")
@Html.ActionLink("Yes, sure!","ClubDeleted","Club",new {@id = Model.ClubId })


