@model ClubViewModel

@{ ViewData["Title"] = "Delete Club"; }

<div class="text-left">
    <h2 class="text-danger">You are about to delete the Club: @Model.ClubName</h2>
    <h3>Are you sure?</h3>
</div>

@Html.ActionLink("Cancel", "AllClubs", "Club", null, new { @class = "btn btn-default" })
@Html.ActionLink("Yes, sure!", "ClubDeleted", "Club", new { @id = Model.ClubId }, new { @class = "btn btn-danger" })



