<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/408b48e9-c8b3-4a6f-a6c4-f88d8629d932/resourceGroups/vst-azdev-rg01/providers/Microsoft.Web/sites/FootballStarz</ResourceId>
    <ResourceGroup>vst-azdev-rg01</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://footballstarz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>footballstarz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FootballStarz</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FootballStarz</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>